
/* greyscale */

$coconut: #fff;
$white: $coconut;
$black: #000;

$default-text: #303444;

$grey: #86929F;
$grey-lite: #AFC2D5;
$grey-bg: lighten($grey-lite, 20%);
$grey-bg-lite: lighten($grey-lite, 10%);


/* palette */

$gene: #36959E;
$gene-lite: #6ABEC3;

$blueberry: #0CA9CC;
$blueberry-lite: #35C1DC;
$blue: $blueberry-lite;

$apple: #43B391;
$apple-lite: #7CC9AF;

$grape: #9470B0;
$grape-lite: #AD8ABF;

$watermelon: #E94A72;
$watermelon-lite: #F17B9E;

$tangerine: #EE6E62;
$tangerine-lite: #F48A85;

$lemon: #D6A828;
$lemon-lite: #FFD255;

$green-bg: #53C6C1;