/* mobile menu toggle *******************************************************
*****************************************************************************/

.header {
  .mobile-menu-toggle {
    display: none;
  }
  .mobile-menu-toggle-2 {
    display: none;
  }
}

/* mobile menu **************************************************************
*****************************************************************************/

@media (max-width: $screen-md) {
  .header {
    .mobile-menu-toggle {
      display: inline-block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      right: 15px;
      cursor: pointer;
      z-index: 1;
      transition: opacity 0.2s linear 0s, z-index 0s linear 0s;
      span {
        border-radius: 1px;
        display: block;
        width: 100%;
        height: 2px;
        background: $grey;
        position: absolute;
        top: calc(25% - 2px);
        &:before,
        &:after {
          border-radius: 1px;
          display: block;
          background: $grey;
          content: '';
          height: 2px;
          width: 100%;
          position: absolute;
          right: 0;
        }
        &:before {
          bottom: -10px;
          transition: 0.2s linear 0.1s;
        }
        &:after {
          bottom: -20px;
          transition: 0.2s linear 0.2s;
        }
      }
    }
    .toggle-on {
      z-index: -100;
      opacity: 0 ;
      transition: opacity 0.2s linear 0.2s, z-index 0s linear 0.6s;
      span {
        &:after {
          opacity: 0;
          transition: 0.2s linear 0s;
        }
        &:before {
          opacity: 0;
          transition: 0.2s linear 0.1s;
        }
      }
    }
    .mobile-menu-toggle-2 {
      color: $grey;
      display: inline-block;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 15px;
      right: 10px;
      transition: $hover;
      z-index: 100;
      &:before {
        content: '';
        background: $grey;
        display: block;
        width: 100%;
        height: 2px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        right:0;
        transform: rotate(45deg);
      }
      &:after {
        content: '';
        background: $grey;
        display: block;
        width: 100%;
        height: 2px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        right:0;
        transform: rotate(135deg);
      }
      &:hover{
        color: $blue;
      }
    }
  }
}